<ion-view view-title="{{coupon.title}}">
  <ion-content class="coupon-details-page has-tabs">
    <h1>{{coupon.title}}</h1>
    <h4>{{coupon.description}}</h4>
    <p ng-show="coupon.oneTime == 'true'">
      Disclaimer: This coupon can only be redeemed once through this app.  Once you have redeemed your coupon you will not be able to use it again.
    </p>
    <button class="button button-greater button-block" ng-click="redeem()">Redeem</button>
    <!-- ui-sref="coupon({image: coupon.image})" -->
  </ion-content>
  <div class="tabs">
    <a class="tab-item" ui-sref="home">
      Home
    </a>
    <a class="tab-item" ui-sref="favorites">
      Favorites
    </a>
    <a class="tab-item" ui-sref="settings">
      Settings
    </a>
  </div>
</ion-view>
